extends ../layout

block remove_snippet
  .main.container
    .row
      .col-md-12.col-md-offset-6
        h1.display-4.m-b-2 Remove snippet

        if flash
          div(class='alert alert-#{flash.type}')
            div #{flash.text}

        form(method='POST' action='/snippets/#{viewData.id}/delete' enctype="application/x-www-form-urlencoded")
          input(type='hidden' name='id' value='#{viewData.id}')
          div.form-group
            label(for='title') Title:
            input#title.form-control(type='text', placeholder='title' name='title' value='#{viewData.title}')
          div.form-group
            label(for='code') Code:
            textarea(class='form-control' name='code' rows='20' cols='30' spellcheck='false') #{viewData.code}
          input.btn.btn-dark(type='submit' name='submit' value='Remove')